<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Someone Special ❤️</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>Hey Beautiful ✨</h1>

        <p id="shayari">
            "Tum hasi ho toh lagta hai duniya theek chal rahi hai..." ❤️
        </p>

        <button onclick="changeText()">
            Click Me 💌
        </button>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>