<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>For Someone Special ❤️</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="hearts"></div>

  <div class="card">

    <h1>Hey Beautiful ✨</h1>

    <p id="text">
      Tumhari smile pura din better bana deti hai ❤️
    </p>

    <button onclick="changeText()">
      Click Me 💌
    </button>

  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>